<footer class="p-5">
    <div class="px-5">
        <h5>Get The FreshCart App</h5>
        <p class="sml text-muted">We will send you a link, open it on your phone to download the app</p>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <input type="text" class="form-control py-0 w-75" placeholder="Email..">
        <button class="btn px-4 mx-3 py-1">Share App Link</button>
    </div>
    <div class="line mx-5 my-4"></div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="payment px-5 d-flex align-items-center">
            <p class="fw-bold mt-3">Payment Partners</p>
            <i class="fa-brands fa-amazon-pay fa-lg ps-3" style="color: #ff9500;"></i>
            <i class="fa-brands fa-cc-amex fa-lg ps-3" style="color: #72a5fd;"></i>
            <i class="fa-brands fa-cc-mastercard fa-lg ps-3" style="color: #e62b0a;"></i>
            <i class="fa-brands fa-cc-paypal fa-lg ps-3" style="color: #14346c;"></i>
        </div>
        <div class="deliveries d-flex justify-content-center align-items-center">
            <p class="fw-bold mt-3 mx-3">Get deliveries with FreshCart</p>
            <div class="bg-black d-flex justify-content-center align-items-center py-0 rounded-3 px-4">
                <i class="fa-brands fa-apple fa-xl py-0" style="color: #ffffff;"></i>
                <div class="px-2 py-1">
                    <p class="xsml mb-0">Available on the</p>
                    <p class="storeText text-white fw-bold my-0 text-center">App Store</p>
                </div>
            </div>
            <div class="bg-black d-flex justify-content-center align-items-center py-0 rounded-3 px-4 mx-1">
                <i class="fa-brands fa-google-play fa-lg" style="color: #47fffc;"></i>
                <div class="px-2 py-1">
                    <p class="xsml mb-0">Get it on</p>
                    <p class="storeText text-white fw-bold my-0 text-center">Google Play</p>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="line mx-5 my-4"></div>
</footer>
