<div class="forgetPassword">
    <form (ngSubmit)="ForgetPasswordSubmit(ForgetPassword)" class="w-75 m-auto py-5 my-5" [formGroup]="ForgetPassword">
        <label for="email">Enter Your Email</label>
        <input type="email" formControlName="email" name="email" id="email" class="form-control my-3">
        <div *ngIf="ForgetPassword.get('email')?.errors && ForgetPassword.get('email')?.touched">
            <p *ngIf="ForgetPassword.get('email')?.errors?.['required']" class="alert alert-danger">Email Is Required</p>
            <p *ngIf="ForgetPassword.get('email')?.errors?.['email']" class="alert alert-danger">Enter A Valid Email</p>
        </div>
        <button [disabled]="!ForgetPassword.valid" class="btn btn-success">Send Email</button>
    </form>    
</div>

<div style="display: none" class="resetCode">
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <form (ngSubmit)="ResetCodeSubmit(ResetCode)" [formGroup]= "ResetCode" class="w-75 m-auto py-5 my-5">
        <label for="resetCode">Reset Your password</label>
        <input formControlName="resetCode" type="text" name="resetCode" id="resetCode" class="form-control my-3">
        <div *ngIf="ResetCode.get('resetCode')?.errors && ResetCode.get('resetCode')?.touched">
            <p *ngIf="ResetCode.get('resetCode')?.errors?.['required']" class="alert alert-danger">resetCode Is Required</p>
            <p *ngIf="ResetCode.get('resetCode')?.errors?.['pattern']" class="alert alert-danger">Enter A Valid resetCode</p>
        </div>

        <button class="btn btn-success">Verify Code</button>
    </form>    
</div>